[submodule "iabonus"]
	path = iabonus
	url = https://github.com/goedel-gang/iabonus
	branch = master
[submodule "dexter-notes"]
	path = dexter-notes
	url = https://github.com/goedel-gang/cam-notes
	branch = master
[submodule "decomposition"]
	path = decomposition
	url = https://github.com/goedel-gang/decomposition
	branch = master
[submodule "jeffrey"]
	path = jeffrey
	url = https://github.com/ioannad/jeffrey/
	branch = master
[submodule "leaning"]
	path = leaning
	url = https://github.com/Sterrs/leaning
	branch = master
[submodule "equations"]
	path = equations
	url = https://github.com/Sterrs/equations
	branch = master
